{% extends 'base.html.twig' %}

{% block content %}
    <h1>Family Trees</h1>

    {% for relationship in relationships %}
        <div class="family-tree">
            <div class="parent">{{ relationship.getFather().getName() }}</div>
            <div class="parent">{{ relationship.getMother().getName() }}</div>
            
            <div class="children">
                {% for child in relationship.getChildren() %}
                    <div class="child">{{ child.getName() }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
