{# dashboard/family_tree.html.twig #}
{% block content %}
    <h1>Family Trees</h1>

    {% for lineage, trees in familyTree %}
        <h2>{{ lineage }}</h2>
        {{ renderFamilyTree(trees) }}
    {% endfor %}
{% endblock %}

{% macro renderFamilyTree(trees) %}
    <ul>
        {% for id, tree in trees %}
            <li>
                {{ tree.beetle.name }}
                {% if tree.children is not empty %}
                    {{ _self.renderFamilyTree(tree.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
